<style>
    * {
      box-sizing: border-box;
    }

    h1 {
      font-family: 'Trebuchet MS',  sans-serif;
      font-size: 50px;
      text-align: center;
      margin-top: 90px;
      margin-bottom: 60px;
    }


    .chicken {
      background-color: #0066ff;
    }
    .beef {
      background-color: #990000;
    }
    .sushi {
      background-color: #004d00; 
    }

    section {
      float: left;
      background-color: grey;
      border: 1px solid black;
      margin-bottom: 30px;
      position: relative;
    }
    .item {
     font-family: 'Comic Sans MS', sans-serif;
      margin-top: 0px;
      width: 35%;
      height:50px; 
      color: orange;
      font-size: 35px;
      text-align: center;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      position: relative;
      left: 64.75%;
    }



/* Text inside boxes */

    p {
       font-family: 'Comic Sans MS', sans-serif;
	    font-size: 20px;
      padding:15px;
      text-align: justify;
    }

 /* Media queries*/   

    @media (min-width: 992px) {
    	section {
    		margin-left: 2.5%;
      		width: 30%;
    	}  
    }
    @media (max-width: 991px) and (min-width: 768px) {
    	.menu-chicken, .menu-beef {
    		margin-left: 3%;
      		width: 45.5%;
    	}     
    	.menu-sushi {
    		width: 91%;
    		margin-left: 4.5%;
    	}  
    }
    @media (max-width: 768px) {
     	.menu {
    		margin-left: 5%;
      		width: 45%;
      		
    	}      
    }

  </style>